.header {
  font-size: 16px;
  flex-grow: 9;
  font-weight: 600;
}
.container {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}
.headerItem {
  display: flex;
  flex-grow: 1;
  float: right;
  margin: -10px;
  padding: 0;
}

.horizontalLine {
  border: 1px solid #ccc;
  margin: 0;
}

.modalButton {
  position: inherit;
  float: right;
  margin: 20px 15px 0 0;
  height: 32px;
  width: 130px;
  background-color: #e92431;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 10px;
}
